.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.developer
!.env.production
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
compose*.yaml
compose*.yml
